/*
    Author: Elvis da Silva
    Url: https://github.com/elvisdasilva
    Project author: Masson Simon
    https://www.figma.com/community/file/1140995588614722532

*/

@import url("../css/fonts.css");
@import url("../css/header.css");
@import url("../css/main.css");
@import url("../css/discover.css");
@import url("../css/footer.css");